*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,.container{
  min-height: 100vh;
  background-color: black;
}  
.container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 5em;
}
header{
  flex: 1;
  border-radius: 2em;
  background-color: purple;
}
section{
  flex: 4;
  border-radius: 2em;;
  display: flex;
  gap: 1em;
}
.colleft{
  flex: 3;
  border-radius:2em;
  background-color: red;
}
.colright{
  flex: 1;
  border-radius: 2em;
  background-color: yellow;
}
.container.second section{
  flex-direction: row-reverse;
}
footer{
  flex: 1;
  background-color: darkblue;
  border-radius: 2em;
  margin-bottom: 1em;
}

/*@media(max-width:968px){
  section,
  .container.second section{
    flex-direction: column;
  }
  .container{
    margin:1em 2em;
  }
}*/
